<!-- Animated on scroll library -->

 <!---Deferred CSS load -->
<link rel="preload" href="/aos.css?v={% version %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/aos.css?v={% version %}"></noscript>

<script defer src="/js/aos.js?v={% version %}"></script>

<script>
	window.addEventListener('load', () => {
		AOS.init({
			// offset: 1000,
			anchorPlacement: 'top-bottom',
		});
		
		setTimeout(()=>{
			AOS.refresh();
		},2000)
	})
</script>