<!-- Optimized Google Fonts
Based on https://pagespeedchecklist.com/asynchronous-google-fonts 

<link rel="preconnect" href="https://fonts.googleapis.com"/> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800&display=swap"/>


<link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800&display=swap">

<noscript>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800&display=swap">
</noscript>
Based on https://pagespeedchecklist.com/asynchronous-google-fonts 

-->


<style>

/* Self-hosted Google Fonts */
/* Generated via https://google-webfonts-helper.herokuapp.com */

/* barlow-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/barlow-v12-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
			 url('../fonts/barlow-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/barlow-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
			 url('../fonts/barlow-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../fonts/barlow-v12-latin-regular.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-600 - latin */
@font-face {
	font-display: swap;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/barlow-v12-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''),
			 url('../fonts/barlow-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../fonts/barlow-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/barlow-v12-latin-600.woff') format('woff'), /* Modern Browsers */
			 url('../fonts/barlow-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../fonts/barlow-v12-latin-600.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/barlow-v12-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
			 url('../fonts/barlow-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../fonts/barlow-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/barlow-v12-latin-700.woff') format('woff'), /* Modern Browsers */
			 url('../fonts/barlow-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../fonts/barlow-v12-latin-700.svg#Barlow') format('svg'); /* Legacy iOS */
}

* {
	font-family: Barlow, system-ui, sans-serif;
}

</style>
