<!-- Optimized Google Fonts
Based on https://pagespeedchecklist.com/asynchronous-google-fonts -->

<!-- connect to domain of font files -->
<link rel="preconnect" href="https://fonts.googleapis.com"/> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- optionally increase loading priority -->
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800&display=swap"/>

<!-- async CSS -->
<link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800&display=swap">

<!-- no-JS fallback -->
<noscript>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800&display=swap">
</noscript>