<!-- Generator -->
<meta name="generator" content="eleventy">

<title>{{ title or seo.title }}</title>

<meta name="title" content="{{ title or seo.title }}">
<meta name="description" content="{{ description or seo.description }}">
<meta name="author" content="{{ author or seo.title}}">
<meta name="image" content="{{seo.imagePath}}" />

<!-- Colors -->
<meta name="theme-color" content="{{ seo.themeColor }}">
<meta name="msapplication-TileColor" content="{{ seo.themeColor }}">

<!-- Open Graph / Facebook -->  
<meta property="og:type" content="website">
<meta property="og:url" content="{{ seo.url }}">
<meta property="og:title" content="{{ title or seo.title }}">
<meta property="og:description" content="{{ description or seo.description }}">
<meta property="og:image" content="{{ seo.imagePath }}">
		
		
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ title or seo.title }}" />
<meta name="twitter:url" content="{{seo.url}}" />
<meta name="twitter:description" content="{{seo.description}}" />
<meta name="twitter:image" content="{{seo.image}}" />
<meta name="twitter:creator" content="{{seo.twitterUsername}}" />

<!-- Icons -->
<link rel="apple-touch-icon" href="{{seo.appleTouchIconPath}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{seo.appleTouchIconPath}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{seo.favicon32Path}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{seo.favicon16Path}}">

<!-- Web manifest -->
<link rel="manifest" href="/site.webmanifest">

<!-- Canonical link -->
{# See https://developers.google.com/search/docs/crawling-indexing/consolidate-duplicate-urls #}
{% if canonicalUrl %}
	<link rel="canonical" href="{{ canonicalUrl }}">
{% endif %}


{# {% jsonLdScript seo, 'website' %} #}