{% extends "_includes/default.njk" %}

{% block content %}
   <main class='h-full relative min-h-screen bg-blue-50 x-cloak' x-data='gameGrid'>
    {% include 'components/navbar.njk' %} 
    {% include 'components/gameGrid.njk' %}
    {% include 'components/gameModal.njk' %}
   </main>
{% endblock %}