<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="UTF-8"/>
     <meta http-equiv="x-ua-compatible" content="ie=edge"/>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
   
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
     
    <style>
      /* Hide Alpine templates until library loads and boots up */
      [x-cloak] { display: none !important; }
    </style>
    
    
    {% block head %}{% endblock %}
    
    
   <script defer src="/js/alpinejs-focus.js?v={% version %}"></script>
   <script defer src="/js/alpinejs-collapse.js?v={% version %}"></script>
   <script defer src="/js/alpine.js?v={% version %}"></script>
   
   <script defer src="/js/bodyScrollLock.js?v={% version %}"></script>
   <script defer src="/js/quicklink.js?v={% version %}"></script>
   
   <meta name='node_env' content='{% env "NODE_ENV" %}'>
   
   {% include 'head/fonts.njk' %} 
   {% include 'head/seo.njk' %} 
   {# {% include 'head/cookie-consent.njk' %}  #}
   
   {% include 'head/honeybadger.njk' %} 
   {% include 'head/fathom.njk' %} 
   {# {% include 'head/fullstory.njk' %}  #}
   
   {% include 'head/assets-retry.njk' %} 
   
   {# {% include 'head/swiped-events.njk' %}  #}
   {# {% include 'head/aos.njk' %}  #}
   {% include 'head/rellax.njk' %} 
   
   {# {% if glideEnabled %} {% include 'head/glide.njk' %} {% endif %} #}
   
   {% include 'head/client-html-inject.njk' %} 
   
   <script>
     console.log('👋 Hey there!\nThis is a custom Eleventy theme, built 🛠 by RazorUX\nSay hi at https://razorux.com or on https://twitter.com/RazorUX')
   </script>
    
  </head>
  <body class='relative min-h-screen flex flex-col items-stretch'>
    {% include 'components/app.njk'%}
    {% include 'components/announcement-bar.njk'%}
    {% include 'components/navbar.njk'%}    
    
    {% block content %}
      {{ content | safe }}
    {% endblock %}
    
    {% include 'components/footer.njk'%}
  </body>
</html>