<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="UTF-8"/>
     <title>{{ title or metadata.title }}</title>
     <meta name="description" content="{{ description or metadata.description }}">
     <meta http-equiv="x-ua-compatible" content="ie=edge"/>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
   
    
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    
    {% block head %}{% endblock %}
    <script defer src="/js/alpine.js?v={% version %}"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com"/> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/> 
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet"/>
    
  </head>
  <body>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>