<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="UTF-8"/>
     <title>{{ title or metadata.title }}</title>
     <meta name="description" content="{{ description or metadata.description }}">
     <meta http-equiv="x-ua-compatible" content="ie=edge"/>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
   
    
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
     
    <style>
      /* Hide Alpine templates until library loads and boots up */
      [x-cloak] { display: none !important; }
    </style>
    
    
    {% block head %}{% endblock %}
    <script defer src="/js/alpine.js?v={% version %}"></script>
    <script defer src="/js/bodyScrollLock.js?v={% version %}"></script>
    
    
    <meta name='node_env' content='{% env "NODE_ENV" %}'>
    
    {% include 'head/fonts.njk' %} 
    {% include 'head/seo.njk' %} 
    
    {% include 'head/honeybadger.njk' %} 
    {% include 'head/fathom.njk' %} 
    {% include 'head/fullstory.njk' %} 
    
    {% include 'head/assets-retry.njk' %} 
    {% include 'head/swiped-events.njk' %} 
    
  </head>
  <body>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>