{% include 'components/app.njk' %}

<section class='overflow-hidden relative py-6 sm:py-16' :class='{"opacity-60": modalIsOpen}' class='transition-all'>
	{% image {src: '/images/backgrounds/hexagons.jpg', alt: "", widths: [500, 750, 1000, 1500, 2000], cssSizes: '100vw', cssClass: 'pointer-events-none absolute object-cover inset-0 opacity-100 z-0 mix-blend-multiply w-full'} %}
	
	<div class=" grid auto-row-fr justify-center items-center gap-4 sm:gap-8 px-3 sm:p-6 pt-0 lg:w-full lg:px-16 game-grid">
		
		<img aria-hidden="true" alt='' width='1000px' class='pointer-events-none absolute inset-y-0 opacity-[0.15] -right-[180px] z-0 blur-2xl saturate-150' src='/images/backgrounds/blur_1.svg' />
	
		
		{% for game in (games | rejectattr('hideFromPackageList')) %}
		
			<article class='justify-self-center'>
				<div
				class='group block transition-all bg-white p-0.5 sm:p-1 shadow-xl hover:shadow-md  min-w-fit  w-fit hover:scale-[103%]'
				style='clip-path: polygon(90% 0%, 100% 10%, 100% 100%, 10% 100%, 0% 90%, 0 0);'>
					<button 
			  		type='button'
						class="block relative overflow-hidden "
						style='clip-path: polygon(0 0, 90% 0%, 100% 10%, 100% 100%, 100% 100%, 10% 100%, 0% 90%, 0 0);'
						@click="openModal({{ game.id }})"
						>
						
						{% if game.imageUrl %}
							<div class='filter saturate-40 brightness-110 bg-gray-100 background-pulse'>
								{% image {src: '/images/games/' + game.imageUrl, alt: "Image of " + game.title + " game", widths: [600, 320, 300, 160], cssSizes: '(max-width: 639px) 160px, 300px', cssClass: 'w-[160px] sm:w-[300px]'} %}
								
								{# <img src='images/games/{{game.imageUrl}}' class='w-[160px] sm:w-[300px]'></img> #}
							</div>
							
						{% else %}
							<div class='relative bg-gray-100'>
								<div class='z-10 absolute block inset-0 flex flex-col justify-center items-center'>
									<p class='align-middle text-center text-xl text-gray-400 text-semibold' >No image</p>
								</div>
								<img src='/img/games/game13.jpg @600.jpg' class='w-[300px] opacity-0'></img>
							</div>
						{% endif %}
						
						<div class='absolute z-10 bg-blue-500 opacity-0 bg-blend-multiply inset-0 group-hover:opacity-50' style='content: " ";'></div>
						
						<div class='hidden md:block absolute z-20 bottom-0 inset-x-0 opacity-50 bg-gradient-to-t from-black bottom w-full h-32' style='content: " ";'></div>
						
						<h3 class='hidden md:block absolute z-30 bottom-4 left-8 text-white font-semibold text-2xl filter drop-shadow-sm leading-tight'>{{game.title}}</h3>
					</button>
					
				</div>
				
				<h2 class='md:hidden text-center text-slate-700 font-semibold text-lg sm:text-2xl leading-tight mt-1'>{{game.title}}</h2>
			</article>
			
			
		
		{% endfor %}
		
		
	</div>
</section>