<div class='border-white border-4'>

	<div class='w-full py-12 bg-white bg-opacity-50 backdrop-blur-lg' style='clip-path: polygon(calc(100% - 30px) 0%, 100% 30px, 100% 100%, 30px 100%, 0% calc(100% - 30px) , 0 0);'>
		
		<div class='grid grid-cols-2 gap-4'>
			{% for stat in gameStats %}
			
				<div class='flex flex-row items-start py-3 border-r-2 border-dotted px-8 border-slate-200 no-border-right max-w-[300px]'>
					<div class='rounded-full {{ stat.iconColorClasses }} p-2 w-fit mr-3 mb-2 mt-1'>
						{{ stat.iconPath | svgContents("icon-md") | safe }}
					</div>
					
					<dl>
						<dt class='font-semibold uppercase text-sm text-slate-400 tracking-wider leading-tight'> {{ stat.label }} </dt>
						<dd class='text-lg text-slate-700 font-semibold leading-tight' x-text='selectedGame && (selectedGame.process ? selectedGame.process(selectedGame["{{stat.valueKey}}"]) : selectedGame["{{stat.valueKey}}"])'> {{ stat.valueKey }} </dd>
					</dl>
				</div>
				
			{% endfor %}
		</div>
		
	</div>

</div>