<section class='w-full bg-gradient-to-br from-slate-200 to-slate-300 shadow-inner'>
	<article class='max-w-6xl mx-auto py-10 sm:py-24 px-6 flex flex-col items-center text-center'>
		<h1 class='text-4xl sm:text-7xl font-bold mb-3'>Welcome to Eleventy Starter!</h1>
		<p class='sm:text-xl'>Check out the README to get started!</p>
		<div class='mt-4'>
			{% link cta.primaryHeroCta %}{% endlink %}
			{% link cta.secondaryHeroCta %}{% endlink %}
		</div>
	</article>
</section>