<section class='w-full bg-slate-50'>
	<article class='group max-w-6xl mx-auto py-12 bg-gradient-to-br from-slate-600 to-slate-900 sm:rounded-2xl px-16 text-white'>
		
			<div class='mb-4 w-full flex flex-col sm:flex-row items-center justify-between text-center sm:text-left'>
				<div class='mb-2 sm:mb-0'>
					<h2 class='text-3xl sm:text-4xl font-bold mb-3'>
					<span class='opacity-100'>10 years of experience,</span></br>
					<span class='opacity-80'>in your inbox</span></h2>
					<p class='sm:text-xl opacity-60'>The best of our blog, in our <span class='font-bold'>FREE </span>weekly newsletter.</p>
				</div>
				<div>
					<form class='mt-3 sm:mt-8 flex flex-col sm:flex-row sm:w-fit w-full'>
						<input type="email" required class='button large border-2 border-white border-opacity-80 bg-white bg-opacity-10 rounded-full sm:rounded-r mb-2 sm:mb-0' placeholder="Your email">
						<button type='submit' class='button medium sm:primary primary inverse rounded-full sm:rounded-l pl-2'>{{ "Join the fun ›" | nbsp | safe }}</button>
					</form>
					<p class='text-sm sm:text-base text-center mt-4 sm:mt-2 ml-6 sm:ml-0'>
						<span class='opacity-60'>No spam.</span>
						<span class='font-semibold opacity-100'>10,000+</span>
						<span class='opacity-60'>subscribers. Unsubscribe anytime.</span>
						</p>
				</div>
			</div>
			
		
		</div>
		
	</article>

</section>