<section class='w-full bg-slate-50'>
	<article class='max-w-6xl mx-auto px-6 py-12 sm:py-24'>
		
		<div class='flex flex-col items-center text-center sm:text-left sm:items-start sm:flex-row justify-between sm:items-end mb-8 sm:mb-6'>
			<div class='mb-2 sm:mb-0'>
				<h2 class='text-3xl sm:text-4xl font-bold leading-relaxed'>Mega Bullets</h2>
				<p class='sm:text-lg'>Three Mega bullets to prove your point.</p>
			</div>
			<a href='#' class='button medium tertiary w-fit'> See all › </a>
		</div>
		
		<div class='grid grid-cols-1 sm:grid-cols-3 gap-6 mt-3'>
			
			<div class='bg-slate-200 bg-opacity-30 rounded-xl p-6'>
				{{ '/phosphor-icons/regular/mountains.svg' | svgContents("icon-xl mb-2 opacity-60") | safe }}
				<h3 class='text-lg font-bold'>A title</h3>
				<p>Descriptive text, several lines long.</br>It's funny how effective that can be.</p>
			</div>
			
			<div class='bg-slate-200 bg-opacity-30 rounded-xl p-6'>
			  {{ '/phosphor-icons/regular/mountains.svg' | svgContents("icon-xl mb-2 opacity-60") | safe }}
				<h3 class='text-lg font-bold'>A title</h3>
				<p>Descriptive text, several lines long.</br>It's funny how effective that can be.</p>
			</div>
			
			<div class='bg-slate-200 bg-opacity-30 rounded-xl p-6'>
			  {{ '/phosphor-icons/regular/mountains.svg' | svgContents("icon-xl mb-2 opacity-60") | safe }}
				<h3 class='text-lg font-bold'>A title</h3>
				<p>Descriptive text, several lines long.</br>It's funny how effective that can be.</p>
			</div>
			
		
		</div>
		
	</article>

</section>