<div class='bg-white border-t-8 border-blue-600 flex flex-col items-center shadow-2xl py-8'>
  <div :class='{"opacity-0": modalIsOpen}' class='transition-all'>
     <h1 class='text-4xl font-bold text-slate-900'>Game Rental Catalog</h1>
     <p class='text-slate-400 font-bold text-lg'>Tap on a game to learn more about it!</p>
 </div>
</div>