<div class='bg-white border-t-4 sm:border-t-8 border-blue-600 flex flex-col items-center shadow-2xl py-3 sm:py-8'>
  <div :class='{"opacity-0": modalIsOpen}' class='transition-all'>
     <h1 class='text-2xl sm:text-4xl font-bold text-center text-slate-900'>Game Rental Catalog</h1>
     <p class='text-slate-500 font-semibold sm:font-bold text-center sm:text-lg'>Tap on a game to learn more about it!</p>
 </div>
</div>