<section class='w-full bg-slate-50'>
	<article class='group max-w-6xl mx-auto py-24 bg-gradient-to-br from-slate-700 to-slate-900 sm:rounded-2xl px-16 text-white flex flex-col items-start sm:items-center'>
		
			<div class='mb-4'>
				<h2 class='text-4xl sm:text-6xl font-bold sm:leading-relaxed'>Wrapup CTA</h2>
				<p class='sm:text-xl'>Make your killer case to that visitor.</p>
			</div>
			<a href='#' class='button large tertiary inverse group-hover:underline'> Get ready › </a>
		</div>
		
	</article>

</section>