@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .change {
    color: slate-600;
  }
}

html {
  background: theme(colors.slate.100);
}


::selection {
  background: theme(colors.blue.600);
  color: theme(colors.white);
}

.icon-10xl {
  height: 8rem;
}

.icon-9xl {
  height: 7rem;
}

.icon-8xl {
  height: 6rem;
}

.icon-7xl {
  height: 5rem;
}

.icon-6xl {
  height: 4.5rem;
}

.icon-5xl {
  height: 3.25rem;
}

.icon-4xl {
  height: 2.75rem;
}

.icon-3xl {
  height: 2.25rem;
}

.icon-2xl {
  height: 2rem;
}

.icon-xl {
  height: 1.75rem;
}

.icon-lg {
  height: 1.7rem;
}

.icon-md {
  height: 1.5rem;
}

.icon-sm {
  height: 1.2rem;
}

.icon-xs {
  height: 1rem;
}

.background-pulse {
  --gradient-ends: theme(colors.slate.300);
  --gradient-middle: theme(colors.slate.400);
  background: linear-gradient(135deg, var(--gradient-ends), var(--gradient-middle), var(--gradient-ends));
  animation: flow 3s infinite;
  background-size: 200%;
}

@keyframes flow {
  0% {
    background-position: 0 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 0%;
  }
}

@layer components {

  .button {
    @apply inline-block rounded-full border-2 border-transparent font-semibold cursor-pointer disabled:opacity-30 disabled:cursor-default;
    /* hover:underline hover:decoration-2 disabled:hover:no-underline;  */
  }
  
  .button.small {
    @apply text-xs sm:text-sm py-0 px-2;
  }
  
  .button.medium {
    @apply text-base py-1 px-4;
  }
  
  .button.large {
    @apply text-lg sm:text-xl py-2 px-6;
  }
  
  .button.primary {
    @apply bg-black text-white bg-opacity-80 hover:bg-opacity-100 disabled:hover:bg-opacity-80;
  }
  
  .button.secondary {
    @apply bg-black text-slate-600 bg-opacity-10 hover:bg-opacity-20 disabled:hover:bg-opacity-10;
  }
  
  .button.tertiary {
    @apply border-black border-opacity-10 hover:border-opacity-20 disabled:hover:border-opacity-10;
  }
  
  
  .button.primary.inverse {
    @apply bg-white text-slate-600 bg-opacity-80 hover:bg-opacity-100 disabled:hover:bg-opacity-80;
  }
  
  .button.secondary.inverse {
    @apply bg-white text-white bg-opacity-10 hover:bg-opacity-20 disabled:hover:bg-opacity-10;
  }
  
  .button.tertiary.inverse {
    @apply border-white border-opacity-20 hover:border-opacity-30 disabled:hover:border-opacity-10;
  }
  
  .center-transform-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .center-transform-none {
    position: static;
    top: none;
    left: none;
    transform: none;
  }
}

