@tailwind base;
@tailwind components;
@tailwind utilities;

/* Self-hosted Google Fonts */
/* Generated via https://google-webfonts-helper.herokuapp.com */

/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/barlow-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-v12-latin-regular.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-600 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/barlow-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/barlow-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-v12-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-v12-latin-600.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/barlow-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-v12-latin-700.svg#Barlow') format('svg'); /* Legacy iOS */
}

@layer utilities {
  .change {
    color: black;
  }
}

html {
  background: theme(colors.blue.600);
}


::selection {
  background: theme(colors.blue.600);
  color: theme(colors.white);
}


.game-grid {
  display: grid;
}

@media screen and (min-width: 640px) {
  .game-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 639px) {
  .game-grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}


.icon-10xl {
  height: 8rem;
}

.icon-9xl {
  height: 7rem;
}

.icon-8xl {
  height: 6rem;
}

.icon-7xl {
  height: 5rem;
}

.icon-6xl {
  height: 4.5rem;
}

.icon-5xl {
  height: 3.25rem;
}

.icon-4xl {
  height: 2.75rem;
}

.icon-3xl {
  height: 2.25rem;
}

.icon-2xl {
  height: 2rem;
}

.icon-xl {
  height: 1.75rem;
}

.icon-lg {
  height: 1.7rem;
}

.icon-md {
  height: 1.5rem;
}

.icon-sm {
  height: 1.2rem;
}

.icon-xs {
  height: 1rem;
}

.no-border-right:nth-child(2n) {
  border: none;
}

